<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class='navbar-brand' href='/'>
      hornes&hooves
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav mr-auto">
        <%= active_link_to :root, class: 'nav-item' do %>
          <span class="nav-link">Products</span>
        <% end %>
        <%= active_link_to :cart, class: 'nav-item' do %>
          <span class='nav-link'>
            Cart (<%= (current_user && current_user.active_orders_count) || 0 %>)
          </span>
        <% end %>
      </div>
      <span class="navbar-text">
        <% if current_user %>
          Hi, <%= current_user.email %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to new_user_session_path do %>
            Sign In
          <% end %>
        <% end %>
      </span>
    </div>
  </nav>
</header>
<% flash.each do |key, value| %>
  <div class="mt-sm-3 mr-sm-3 ml-sm-3 <%= flash_class(key) %>">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
