<!DOCTYPE html>
<html>
  <head>
    <title>KubertonShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='navbar navbar-light navbar-toggleable-md bd-navbar'>
      <nav class='container w-100'>
        <div class='d-flex justify-content-between hidden-lg-up'>
          <a class='navbar-brand' href='/'>
           hornes&hooves
          </a>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
